<!doctype html>
<html>
<head>
<title>REJS</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel='stylesheet' href='/custom.css'>
</head>
  <body>
    <div class='jumbotron text-center'>
    <h1>Welcome to REJS</h1>
    <br>
    <h3> Amount of atoms: <%= universe %> </h3>
    <br>
    <button id="newUniverse" class="btn btn-primary">Retreive</button>
    <button id="stopViz" class="btn btn-danger">Stop Visualization</button>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          Atom #:
        </div>
        <div class="col-sm-3">
          Electrons
        </div>
        <div class="col-sm-3">
          Protons
        </div>
        <div class="col-sm-3">
          Neutrons
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3" id="atoms">
        </div>
        <div class="col-sm-3" id="electrons">
        </div>
        <div class="col-sm-3" id="protons">
        </div>
        <div class="col-sm-3" id="neutrons">
        </div>
      </div>
    </div>
  </div>
    <script src="/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/application.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
