<!doctype html>
<html>
<head>
<title>REJS</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel='stylesheet' href='/custom.css'>
</head>
  <body>
    <div class='jumbotron text-center'>
    <h1>Welcome to REJS</h1>
    <br>
    <h3>Generate a new universe every second and imagine the possibilities!</h3>
    <br>
    <h3>If you want to contribute to this project, please fork <a href="https://github.com/selfup/nodizy">Nodizy</a> and submit pull requests or open up issues!</h3>
    <button id="newUniverse" class="btn btn-primary">Visualize Universes</button>
    <button id="stopViz" class="btn btn-danger">Stop Visualization</button>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          Atom #:
        </div>
        <div class="col-sm-2">
          Electrons
        </div>
        <div class="col-sm-2">
          Protons
        </div>
        <div class="col-sm-2">
          Neutrons
        </div>
        <div class="col-sm-2">
          Charge
        </div>
        <div class="col-sm-2">
          Atom ID:
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-2" id="atoms">
        </div>
        <div class="col-sm-2" id="electrons">
        </div>
        <div class="col-sm-2" id="protons">
        </div>
        <div class="col-sm-2" id="neutrons">
        </div>
        <div class="col-sm-2" id="charge">
        </div>
        <div class="col-sm-2" id="atomId">
        </div>
      </div>
    </div>
  </div>
    <script src="/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/application.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
